*{
    margin:0;
    padding:0;
    text-decoration: none;
    background-repeat: no-repeat;
}

.father{
    display: flex;
    flex-direction: column;
}

header{
    background-color:dimgrey;
    padding-top:  10px;
}

header>nav>ul{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    list-style-type: none;
}

.interactable{
    cursor:pointer;
    transition: all ease-out 250ms;
}

.interactable:hover{
    padding: 10px;
    border-bottom: 2px solid red;
}

body{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: dimgrey;
}

h1{
    font-weight: 700px;
    font-size: 50px;
    margin: 15px;
}

h2{
    font-weight: 700px;
    font-size: 30px;
    margin: 15px;
}

.boton{
    display:inline-block;
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color:black;
    color: white;
    border-radius: 10px;
    border:solid white;
    font-size: 30px;
}

.boton:hover{
    transform: scale(1.1);
}

.titulo{
    margin: 10px;
    text-align: center;
    color:white;
    border: 3px solid white;
    transition: all ease-out 150ms;
}

.titulo:hover{
    border-radius:50px;
}

#bienvenido{
    background-image:url("../images/auto-show-designify.png");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-content: center;
    width: 100vh;
}

#contenido{
    max-width: 1900px;
    background-color: dimgrey;
    padding: 10px;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    gap: 10px;
}

.modelo{
    margin: 3px;
    background-color: antiquewhite;
    display: flex;
    flex-direction:column;
    align-content:center;
    justify-content:space-around;
}

article{
    padding: 10px;
    width: 250px;
    border: 3px;
    border-radius: 5px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 5px;
}

article img{
    width: 200px;
}

article img:hover{
    transform:scale(1.1);
}

footer{
    background-color:dimgrey;
    height: 100px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

footer h4{
    font-size: 20px;
    font-style: italic;
}

footer div{
    padding: 25px;
}

.redes{
    font-size: 20px;
    font-style: italic;
}

@media only screen and (max-width: 700px){
    article p{
        height: 100%;
        color:black;
    }
}


